<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dudon.lightmusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MusicActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/translucent"></activity>
        <activity
            android:name=".FavorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/switchover"></activity>

        <receiver android:name=".FavorActivity$AlarmReceiver"></receiver>
        <service android:name=".MusicService"></service>
    </application>

</manifest>
